<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>

<div th:insert="~{fragment/sidebar :: sidebar}"></div>

<div class="main-wrapper">

    <div th:insert="~{fragment/toolbar :: toolbar}"></div>

    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading">나의 서비스 목록</h2>
            <div class="intro"></div>
            <div class="single-form-max-width pt-3 mx-auto">
                <form  th:action  method="get">
                    <div class="form-floating  mb-3 col-12">
                        <input type="text" class="form-control" id="serviceName" name="serviceName" placeholder="serviceName">
                        <label for="serviceName"> &nbsp &nbsp serviceName</label>
                        <label for="serviceName"></label>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">검색</button>
                </form>
            </div><!--//single-form-max-width-->
        </div><!--//container-->
    </section>

    <section class="projects-list px-3 py-5 p-md-5">
        <div class="container">
            <div class="text-center">
                <ul id="filters" class="filters mb-5 mx-auto   ps-0">
                    <li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
                    <li class="type  mb-3 mb-lg-0"  th:attr="data-filter='.' + ${category}" th:each="category : ${allCategories}" th:text="${category}">We App</li>
                </ul><!--//filters-->
            </div>

            <div class="project-cards row isotope">
                <div class="isotope-item col-md-6 mb-5" style="width: 20%; height: 10%"  th:classappend="${service.getCategories()}" th:each="service : ${serviceWithClick}">
                    <div class="card project-card" >
                        <div class="row">

                            <div class="col-12 col-xl-5 card-img-holder">
                                <img th:src="@{/logo/{logoStoreName} (logoStoreName=${service.logoStoreName})}" class="card-img" alt="image">
                            </div>

                            <div class="col-12 col-xl-7">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${service.serviceName}"><a th:href="@{/service/{serviceId} (serviceId=${service.serviceId})}" class="theme-link">Project Heading</a></h5>
                                    <p class="card-text" th:text="${service.title}">.</p>
                                </div>
                            </div>

                        </div>

                        <div class="link-mask" >
                            <a class="link-mask-link"  th:href="@{/client/click(serviceId=${service.serviceId},serviceUrl=${service.serviceUrl})}"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" th:href="@{/client/click/(serviceId=${service.serviceId},serviceUrl=${service.serviceUrl})}">
                                    <i class="fas fa-eye me-2"></i>GO TO Service
                                </a>
                            </div>
                        </div><!--//link-mask-->

                    </div><!--//card-->
                </div><!--//col-->
            </div><!--//row-->

        </div>
    </section>

    <div th:insert="~{fragment/footer :: footer}"></div>


</div><!--//main-wrapper-->

<!--Page Specific JS -->
<script type="text/javascript" src="/assets/plugins/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/isotope-custom.js"></script>

<div th:insert="~{fragment/library :: libraries}"></div>


</body>
</html>

