<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <title>ServiceHub</title>

        <!-- Meta -->

        <meta charset="utf-8">
        <meta property="og:title" content=" SERViCE HUB" />
        <meta property="og:type" content=" website" />
        <meta property="og:url" content="http://impatient.iptime.org:9090" />
        <meta property="og:image" content="http://impatient.iptime.org:9090/logo/service-hub.png" />

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>


        <link rel="shortcut icon" href="service-hub.png">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

        <!-- FontAwesome JS -->
        <script defer src="/assets/fontawesome/js/all.js"></script>

        <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="/assets/css/theme-1.css">
    </div>
</body>
</html>