<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<header class="header text-center" th:fragment="sidebar">
    <div class="force-overflow">
        <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html" th:text="${#authentication.getName()}">SERVICE HUB</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark" >

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column" >
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/impati.jpeg" alt="image" >

                    <div class="bio mb-3">Hi, my name is jun young . Welcome to my personal website!</div><!--//bio-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-start">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/client}"><i class="fas fa-user fa-fw me-2"></i>Mypage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/service/search}"><i class="fas fa-laptop-code fa-fw me-2"></i>서비스 검색</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/service/registration}"><i class="fas fa-briefcase fa-fw me-2"></i>서비스 등록</a>
                    </li>
                </ul>

                <div class="my-2">
                    <a class="btn btn-primary" th:href="@{https://notion.so}" target="_blank"><i class="fas fa-paper-plane me-2"></i>MY BLOG</a>
                </div>


                <div class="dark-mode-toggle text-center w-100">
                    <hr class="mb-4">
                    <h4 class="toggle-name mb-3 "><i class="fas fa-adjust me-1"></i>Dark Mode</h4>

                    <input class="toggle" id="darkmode" type="checkbox">
                    <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>

                </div><!--//dark-mode-toggle-->
            </div>
        </nav>
    </div><!--//force-overflow-->
</header>

</body>
</html>