<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="upgrade-insecure-requests" http-equiv="Content-Security-Policy">
    <div th:insert="~{fragment/header :: header}"></div>
</head>

<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>

<body>

<div class="container">

    <div th:insert="~{fragment/toolbar :: toolbar}"></div>

    <!-- 헤딩 -->
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">프로필 수정</h2>
        </div><!--//container-->
    </section>

    <section class="contact-section px-3 py-5 p-md-5">

        <div class="container">
            <form class="contact-form col-lg-8 mx-lg-auto" enctype="multipart/form-data" id="contact-form"
                  method="post" name="register" th:action th:object="${customerEditForm}">

                <div class="row g-3">


                    <div class="col-12 col-md-6">
                        <label class="sr-only" for="profile">profile</label>
                        <input class="form-control" id="profile" minlength="2" th:field="*{profileImage}" type="file">
                        <small class="form-text text-muted pt-1"><i class="fas fa-info-circle me-2 text-primary"></i>프로필
                            이미지를 등록하세요!</small>
                        <small class="field-error" th:errors="*{profileImage}"></small>
                    </div>


                    <div class="col-12">
                        <label class="sr-only" for="nick">nickname</label>
                        <input class="form-control" id="nick" th:field="*{nickname}" type="text">
                        <small class="form-text text-muted pt-1"><i class="fas fa-info-circle me-2 text-primary"></i>닉네임을
                            설정해주세요</small>
                        <small class="field-error" th:errors="*{nickname}"></small>
                    </div>


                    <div class="col-12 markdown-body">
                        <label class="sr-only" for="intro">introComment</label>
                        <input class="form-control" id="intro" placeholder="explain About you ... "
                               th:field="*{introComment}"
                               type="text">
                        <small class="form-text text-muted pt-1"><i class="fas fa-info-circle me-2 text-primary"></i>자신을
                            소개해주세요 ... </small>
                        <small class="field-error" th:errors="*{introComment}"></small>
                    </div>


                    <div class="col-12">
                        <label class="sr-only" for="blog">blog link</label>
                        <input class="form-control" id="blog" placeholder="register blog link" th:field="*{blogUrl}"
                               type="url">
                        <small class="form-text text-muted pt-1"><i class="fas fa-info-circle me-2 text-primary"></i>Blog
                            URL를 입력해주세요</small>
                        <small class="field-error" th:errors="*{blogUrl}"></small>
                    </div>

                    <hr>
                    <br>

                    <div class="form-group col-12">
                        <button class="btn btn-block btn-primary py-2" type="submit">등록</button>
                    </div>

                </div><!--//form-row-->
            </form>
        </div><!--//container-->
    </section>

    <div th:insert="~{fragment/footer :: footer}"></div>

</div><!--//main-wrapper-->

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
<script src="/js/main.js"></script>

<div th:insert="~{fragment/library :: libraries}"></div>

</body>
</html>

